<div class="d-container">
<div class="d-grid-row d-grid-2">
  <div class="d-column">
    <div class="d-product-item d-product-item-bottom-text">
      <div class="d-product-wrap">
      <a href="{{section.settings.product.url }}">
      <img src="{{section.settings.product.featured_image | img_url: '293x'}}">
      </a>
      <p>{{section.settings.product.title}}</p>
      </div>
    </div>
  </div>
  <div class="d-column">
    <div class="d-grid-row d-align-content d-grid-2">
      <div class="d-column">
    <div class="d-product-item d-product-item-top-text">
      <div class="d-product-wrap">
      <p>{{section.settings.product_2.title}}</p>
      <a href="{{section.settings.product_2.url }}">
      <img src="{{section.settings.product_2.featured_image | img_url: '254x'}}">
      </a>
      </div>
        </div>
      </div>
      <div class="d-column">
    <div class="d-product-item d-product-item-bottom-text">
      <div class="d-product-wrap">
      <a href="{{section.settings.product_3.url }}">
      <img src="{{section.settings.product_3.featured_image | img_url: '285x'}}">
      </a>
      <p>{{section.settings.product_3.title}}</p>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-center-row"><a href="{{section.settings.button_link_1}}">{{section.settings.button_label_1}}</a></div>
</div>

{% schema %}
{
  "name": "Custom Product Grid",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
     {
      "type": "product",
      "id": "product",
      "label": "Product 1"
    },
    {
      "type": "product",
      "id": "product_2",
      "label": "Product 2"
    },
    {
      "type": "product",
      "id": "product_3",
      "label": "Product 3"
    },
        {
          "type": "text",
          "id": "button_label_1",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button Link"
        }
  ],
  "presets": [
    {
      "name": "Custom Product Grid"
    }
  ]
}
{% endschema %}


