<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  {% unless page.handle contains 'contact' %}
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  {% endunless %}
  {% if page.handle contains 'contact' %}
  <h1 class="main-page-title page-title h0">
    {{ section.settings.text | escape }}
  </h1>
  {% endif %}
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section",
"settings": [
{
          "type": "textarea",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Contact Title"
        }
]
}
{% endschema %}
